*.ipynb_checkpoints*
data/hun
*/bin/main
code/output/sim/
code/output/
*.gch
*.out
*.csv
*.npy
code/input
data/input
*.xls
*.ods
code/hun_codes/scripts/plotlymap.ipynb
code/hun_codes/scripts/Untitled.ipynb
